@page "/"
@attribute [TabItemOption(Text = "Home", Closable = false)]

<Row ItemsPerRow="ItemsPerRow.Three">
   @foreach (var user in Users)
    {
      <Card Color="Color.Dark" IsShadow=true style="margin-bottom:15px;">
        <HeaderTemplate>
            <h5 class="card-title">@user.UIStation</h5>
                <div class="col-auto">
                   <Button Color="Color.None" TooltipText="Force Logout" Icon="fas fa-arrow-right-from-bracket"> </Button>
            </div>
         </HeaderTemplate>
        <BodyTemplate>
                <Row ItemsPerRow="ItemsPerRow.Four" >
                         <div class="col-4 col-sm-auto">
                            <Tag Icon="fa-fw fa-solid fa-user" Color="Color.Secondary">@user.UserName</Tag>
                        </div> 
                        <div class="col-4 col-sm-auto">
                                    <Tag Color="Color.Secondary">@user.UserNickName</Tag>
                            </div> 
                        <div class="col-4 col-sm-auto">
                                    <Tag Color="Color.Secondary">@user.LoginTime</Tag>
                            </div> 
                </Row>
        </BodyTemplate>
       </Card>   
     }
</Row>

