@page "/"
@attribute [TabItemOption(Text = "Home", Closable = false)]

<Row ItemsPerRow="ItemsPerRow.Three">
   @foreach (var user in Users)
    {
      <Card Color="Color.Dark" IsShadow=true>
        <HeaderTemplate>
            <h5 class="card-title">@user.UIStation</h5>
                <div class="col-auto">
                   <Button Color="Color.None" TooltipText="Force Logout" Icon="fas fa-arrow-right-from-bracket"> </Button>
            </div>
         </HeaderTemplate>
        <BodyTemplate>
                <Row ItemsPerRow="ItemsPerRow.Four" >
                         <div class="col-4 col-sm-auto">
                            <Tag Icon="fa-fw fa-solid fa-user" Color="Color.Secondary">@user.UserName</Tag>
                        </div> 
                        <div class="col-4 col-sm-auto">
                                    <Tag Color="Color.Secondary">@user.UserNickName</Tag>
                            </div> 
                        <div class="col-4 col-sm-auto">
                                    <Tag Color="Color.Secondary">@user.LoginTime</Tag>
                            </div> 
                </Row>
        </BodyTemplate>
       </Card>   
     }
</Row>

@code
{
    private List<User> Users = new List<User>
    {
        new User { UIStation="ROS01",UserName = "1admin", UserNickName = "张三", LoginTime = DateTime.Now.ToString() },
        new User { UIStation="ROS02",UserName = "123", UserNickName = "张4", LoginTime = DateTime.Now.ToString() },
        new User { UIStation="ROS03",UserName = "123", UserNickName = "张4", LoginTime = DateTime.Now.ToString() },
        new User { UIStation="ROS04",UserName = "123", UserNickName = "张4", LoginTime = DateTime.Now.ToString() },
        new User { UIStation="ROS05" },
    };

    private void Logout(User user)
    {
        // 在这里处理登出逻辑
        // 可能需要导航到其他页面或执行某些操作
    }
    public class User
    {
        public string UIStation { get; set; }
        public string UserNickName { get; set; }
        public string UserName { get; set; }
        public string LoginTime { get; set; }
    }
}